$font-size-sm: 14px
$font-size-m: 16px

// colors
$darkBlue: hsl(209, 23%, 22%)     // Dark Mode Elements
$veryDarkBlue-bg: hsl(207, 26%, 17%) // Dark Mode Background
$veryDarkBlue-text: hsl(200, 15%, 8%) // Light Mode Text
$darkGray: hsl(0, 0%, 52%)        // Light Mode Input
$veryLightGray: hsl(0, 0%, 98%)  // Light Mode Background
$white: hsl(0, 0%, 100%)          // Dark Mode Text & Light Mode Elements


$border-radius-sm: 1.5vw
$border-radius-l: 0.3vw

$btnIconWidth-l: 1.3vw
$btnIconWidth-s: 4vw


$filterSvgWidth-s: 2vw
$filterSvgWidth-l: 1.5vw

$boxShadow-light: 0px 0px 7px 1px #d6d0d157
$boxShadow-dark: 0px 2px 9px 9px #0000000f

$inputWrapperPadding: 3vw
$dropDownOptionPadding: 0vw 1vw

$input-height-sm: 13vw
$input-height-l: 4vw

$card-margin-l: 3vw 1.81vw
$card-margin-m: 3vw 0vw
$card-margin-sm: 0vw 0vw 10vw 0vw